@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;

}

body {
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.btn {
    background-color: #fff;
    color: #212121;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn img {
    width: 20px;
    margin-left: 10px;
}

.btn:hover {
    background-color: blanchedalmond;
}
.btn.dark-btn {
    background-color: #212EA0;
    color: #fff;
}

.btn.dark-btn:hover {
    color: blanchedalmond;
}

.contact form input, .contact form textarea {
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}

/* ------media query------ */
@media (max-width: 1200px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    
}